.foot {
  background-color: black;
  width: 100vw;
  height: 100%;
}

.byebox {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}

.company {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.outK {
  display: flex;
  gap: 30px;
}

.outK > .site {
  color: gray;
}

.byebox > p {
  margin-bottom: 30px;
}
