.jumbotron {
  width: 100vw;
  height: 80vh;
  background-color: pink;
  display: flex;
  align-items: center;
  background-image: url(../dconlap/pau-sayrol-RQTn0zxfGbM-unsplash.jpg);
  background-position: 50% 50%;
}

.box {
  width: 100vw;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.box > strong {
  font-size: 100px;
  color: white;
}

.box > article {
  color: gray;
  margin-top: 15px;
}

.box > p {
  display: flex;
  width: fit-content;
  padding: 5px 100px;
  color: white;
  border: 1px solid white;
  margin-top: 50px;
}
