.box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all 1s;
}

.box:hover {
  background-color: yellow;
  transform: rotate(30deg);
}

.bigbox {
  background-color: green;
  width: 100px;
  height: 100px;
  transition: all 1 s;
}

.bigbox:hover {
  transform: rotate(30deg) scale(2);
  background-color: skyblue;
  background-size: 2;
}
