.languagePage {
  width: 100%;
  max-width: 1200px;
  height: 60vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.languagePage_title {
  text-align: center;
  font-size: 40px;
  font-family: "CookieRun-Regular";
  margin-top: 40px;
}

.languagePage_list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 25px;
}

.languegePage_proficiency_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
