.layout {
  width: 300px;
  height: 400px;
  position: relative;
}
.img {
  width: 300px;
  height: 400px;
  background-image: url(11.jpeg);
  background-size: cover;
}
.Icon {
  padding: 10px;
  border-radius: 9999px;
  background-color: red;
  position: absolute;
  font-size: 30px;
  bottom: 30px;
  right: 30px;
}
