.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  animation: rotate-center cubic-bezier(1, 0.01, 1, 0) ease-in-out infinite both;
}

@keyframes abcd {
  0% {
    background-color: white;
  }

  100% {
    background-color: pink;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
