.card {
  display: block;
  margin: auto;
  width: 300px;
  height: 500px;
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.t1 {
  padding: 5px;
  font-weight: 700;
}

.t2 {
  padding: 5px;
  font-size: small;
}

.t3 {
  width: 15%;
  padding: 5px;
  color: palevioletred;
  font-size: large;
  font-weight: 700;
  display: inline-block;
}

.t4 {
  padding: 5px;
  display: inline-block;
  width: 85%;
  font-size: large;
  font-weight: 700;
  margin-bottom: 10px;
}
.cu1 {
  padding: 10px;
  display: inline-block;
  padding: 3px;
  color: purple;
  background-color: pink;
  font-size: 12px;
  width: 22%;
}
.cu2 {
  padding: 2px;
  text-align: center;
  background-color: gray;
  color: black;
  display: inline-block;
  width: 25%;
}

.star {
  padding: 5px;
  font-size: smaller;
}
