.Lee {
  color: gray;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  padding: 4px;
}

.Lee2 {
  background-color: #ff7777;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  padding: 4px;
}
